.footer {
    background-color: rgb(212, 132, 26);
    height: 10%;
    width: 100%;
    top: 80%;
    color: var(--text-color);
    font-size: 1.6rem;
    border-top: 10px solid white;

    p {
        padding-top: 1.5%;
    }
}
