.footer {
    background-color: rgb(212, 132, 26);
    height: 17rem;
    width: 100%;
    color: var(--text-color);
    font-size: 1.6rem;
    border-top: 10px solid white;
    text-align: center;
    p {
        padding-top: 4rem;
    }
}
